
body {
  color:#FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  min-height:100vh;
  background-image: linear-gradient(to bottom right, #3250a8, #536cb1);
  background-attachment:fixed;
  /* background-image: url(20240611_095100.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.button-link {
  display: inline-block;
  padding: 10px;
  font-family: 'Ubuntu';
  font-size: 17px;
  background-color: #3ffc68; /* Light green background */
  border: 1px solid #131313; /* Light gray border */
  border-radius: 7px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  color: #000000; /* Dark text color */
  margin-bottom: 10px; /* Space between the boxes */
}

.button-link:hover {
  background-color: #2ade51; /* Slightly darker green on hover */
  border-color: #000000; /* Darker border on hover */
}

.title-button-link {
  display: inline-block;
  padding: 13px;
  font-family: 'Ubuntu';
  font-size: 20px;
  background-color: #ca0000; /* Purple background */
  border: 3px solid #00006b; /* Blue border */
  border-radius: 15px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  color: #000000; /* Dark text color */
  margin: 7px; /* Space between the boxes */
}
.header {
  background-color: #272727;
  padding: 1px; /* Ensure header connects to top */

}
.shortcut {
  color:#000000;
}